<header class='entete'>

	<nav>
		<a href='/vider'><i class="fa fa-industry" aria-hidden="true"></i><%= __("vider") %></a>
		<a href='/'><i class="fa fa fa-users" aria-hidden="true"></i><%= __("accueil") %></a>
		<a href='/list'><i class="fa fa-graduation-cap" aria-hidden="true"></i><%= __("adresse") %></a>
		<a href='/peupler'><i class="fa fa-keyboard-o" aria-hidden="true"></i><%= __("peupler") %></a>
		<% if(getLocale() == 'fr') { %> 
			<a href="/en"><i class="fa fa-globe"></i>English</a>
		<% } else if(getLocale() == 'en') { %> 
			<a href="/fr"><i class="fa fa-globe"></i>Français</a>
		<% } %> 
	</nav>

</header>