<form class='mon_formulaire' action="/modifier" name='mon_formulaire' id='mon_formulaire' method="POST" >
	<input type = "text" placeholder="_id" name = "_id">
	<input type = "text" placeholder="Nom" name = "nom"> 
	<input type = "text" placeholder="Prénom" name = "prenom">
	<input type = "text" placeholder="Téléphone" name = "telephone">
	<input type = "email" placeholder="courriel" name="courriel">
	<input type = "submit" value='Enregistrer'>
</form>