<form class='mon_formulaire' action="/rechercher" name='formRecherche' id='formRecherche' method="POST" >
	<input type = "text" placeholder="Recherche" name = "recherche">
	<input type = "submit" value='Enregistrer'>
</form>