<form class='mon_formulaire' action="/rechercher" name='formRecherche' id='formRecherche' method="POST" >
	<input type = "text" placeholder="<%= __("recherche") %>" name = "recherche">
	<input type = "submit" value='<%= __("enregistrer") %>'>
</form>