<!DOCTYPE html>
<html lang="fr">
	<%- include('composants/head') %>
	<body>

		<%- include('composants/entete') %>

		<section class="contenu">
			
			<h1>Bienvenue!</h1>
			<h3>Naviguer pour ajouter, modifier ou supprimer des membres et voir leur profil</h3>
			

		</section>
		
		<%- include('composants/footer') %>

		
		</table>
	</body>
</html>