<!DOCTYPE html>
<html lang="fr">
	<%- include('composants/head') %>
	<body>
		<%- include('composants/entete') %>

		<section class="contenu">
			
			<%- include('composants/adr') %>

		</section>
		
		<%- include('composants/footer') %>

	</body>
</html>