<!DOCTYPE html>
<html lang="fr">
	<%- include('composants/head') %>
	<body>
		<%- include('composants/entete') %>

		<section class="contenu">
			

			<% for (elm of adresse) { %>
				<% for (p in elm) { %>
					<h2><%= elm[p]%></h2>
				<% } %>

			<% } %>

		</section>
		
		<%- include('composants/footer') %>

	</body>
</html>