@bleuFonce : #7893bf;
@blancGris : #e0e0e0;
@bleu : #83a5db;

html {
	font-family:Arial;
	a {
		color:black;
	}
}

.entete {

	background-color:@bleu;
	
	nav {
		display:flex;
		align-items:center;
		justify-content: space-around;
		height:10vh;
	}

	a {
		text-decoration: none;
		font-weight:bold;
		font-size:20px;
	}
}


#mon_formulaire {
	display:none;
}

.tableau {

	table {
  		width: 100%;
	}

	td, th {
  		padding: 10px 20px;
  		text-align: left;
  		border: 1px solid #ccc;
	}

	th {
		background-color: @bleu;
	}
}

.contenu {
	align-items:center;
	display:flex;
	flex-direction:column;
	justify-content: space-around;
	overflow:scroll;
}

footer {
	height:20vh;
	display:flex;
	align-items: center;
	justify-content: space-around;
	background-color: @bleuFonce;
}

/*Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}