@grisPale : #bababa;
@blancGris : #e0e0e0;

html {
	font-family:Arial;

	a {
		color:black;
	}
}

.entete {
	height:100px;
	display:flex;
	align-items: center;

	a {
		margin-left:10px;
		text-decoration: none;
		font-weight:bold;
		font-size:20px;
	}
}

form {
	height:50vh;
	display:flex;
	align-items: center;
	background-color: @blancGris;
}

footer {
	height:20vh;
	display:flex;
	align-items: center;
	justify-content: space-around;
	background-color: @grisPale;
}